name: Run TG Sign
on:
  workflow_dispatch:
  
jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 350
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install
        run: pip install telethon aiohttp
      - name: Decode script from base64
        run: echo "${{ secrets.TG_BOT_BASE64tz }}" | base64 -d > bot.py

      - name: Run
        run: python bot.py
